*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*tamanho de uma borda a outra sem contar a margem*/
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}